#weatherfetch-container{
  left: 100px;
  top: 850px;
  height: 140px;
  position: absolute;
  opacity: 1;
}

#weatherfetch-text{
  float: center;
  font-weight:bolder;
  color: white;
  font-size: 90px;
  width: 0%;
  top: 0%;
  opacity: 0;
  position: relative;
  overflow: hidden;
}

#weatherfetch-text.extend{
  width: 100%;
  opacity: 1;
}

#weatherfetch-container.hide{
  top: 705px;
  opacity: 0;
}
